@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        <div class="navbar navbar-expand border-bottom fixed-top bg-light">
            <Employees.Components.Nav></Employees.Components.Nav>
        </div>
        <Employees.Pages.Home></Employees.Pages.Home>
    </div>
</div>
