@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        <Employees.Components.Nav></Employees.Components.Nav>
        <Employees.Pages.Home></Employees.Pages.Home>
    </div>
</div>
